<app-header></app-header>


<div class="center">
  <h1 class="Head">Hello, {{title}}!</h1>
  <h2>I am <span class="intro"> {{intro}} </span></h2>
  <h3 class="time">
    <p>Day: {{today | date:'fullDate'}}</p>
    <p>Time: {{today | date:'h:mm:ss a'}}</p>  </h3>
</div>
<hr>
<br>
<!-- Custom Pipes in Angular -->
<h2>CustomPipes in Angular</h2>












<br>
<!-- Pipes in Angular -->
<h2>Pipes in Angular</h2>
<h5>use this | date or uppercase or anyformat you want</h5>
<p>it is applied above in time section (before it was hard coded)</p>
<h6>{{title | slice:2 | uppercase }}</h6>
<h6>{{pipesObject | json | titlecase}}</h6>
<!-- here decimal point is the midpoint -->
<p> {{22. | number: '3.2-5'}} </p> 
<p>{{ 20 | currency:'PKR'}}</p>


<br>
<!-- Template Reference Variable -->
<h2> Template Reference Variable </h2>

<input type="text" #temp >
<button mat-stroked-button color="dark" (click)="getVal(temp.value)" > Call Function </button>

<br>
<!-- Two Way Binding -->
<h2>Two-Way Binding</h2>

<input type="text" name="twoway" [(ngModel)] = "twoway" > <br>
<h4>Two way Binding: {{twoway}} </h4>


<!-- Send Data  Child -> Component -->
<h2>Send Data From Child -> Parent Component</h2>
<h4>{{u_data}}</h4>
<app-data-child (updateDataEvent) = "updateData($event)"  >  </app-data-child>

<br>
<!-- Re-Usable Component -->
<h2>Re-Usable Component</h2>
<ul *ngFor="let user of userDetails" >
<app-details [item] ='user'  > </app-details>
</ul>

<br>
<!-- Send Data  Parent -> Child Component -->
<h2>Send Data From Parent -> Child Component</h2>
<!-- we can also re-use it by using the tag again and again -->
<app-child [item]="info"></app-child>
<button mat-stroked-button color="primary" (click)="changeValue()"> Change Value </button> <br> <br>


<br>

<br>
<!-- Making Todo List -->
<h3>Todo List</h3>
<input type="text" name="task" id="task" #task placeholder="Enter New Task...">
<br>
<button mat-raised-button id="addtask" (click)="addtask(task.value)">Add Task</button>
<ul *ngFor="let item of tasks">
  <li>{{item.name}} <button mat-flat-button color="warn" (click)="removeTask(item.id)">Remove</button> </li>
</ul>

<br>
<br>
<!-- Material UI Practice -->
<h2>Material UI</h2>

<mat-slider step="9" tickInterval="5"></mat-slider>
<section>
  <h4>Buttons</h4>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://material.angular.io/components/button/overview" target="_blank">Link</a> <br>
    <br>
    <h4>Using Badges</h4>
    <p>
      Button with a badge on the right
      <a mat-stroked-button color="warn" href="https://material.angular.io/components/badge/api" matBadge="99+"
        matBadgePosition="after" matBadgeColor="warn" target="_blank">

        Badges
      </a>
    </p>
  </div>

</section>

<br>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion> <br>
<!-- Basic Form -->
<h2 class="italic">Basic Form</h2>
<form #basicForm="ngForm" (ngSubmit)="submit(basicForm.value)">
  <label for="username">Name:</label>
  <input type="text" ngModel name="user" placeholder="enter username"> <br>

  <label for="email">Email:</label>
  <input type="email" ngModel name="email" placeholder="enter your email"> <br>

  <label for="password">Password: </label>
  <input type="password" ngModel name="password" placeholder="enter your password"> <br>
  <button class="btn btn-primary">Submit</button>
</form>
<ul id="#formul">
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul>

<!-- components can be used as html tag list -->
<h3 class="italic">Practice in Angular</h3>
<!-- <app-user-list class="Head"></app-user-list> -->
<br>
<!-- for events you have to use parenthesis -->
<button class="btn btn-info" (click)="func_check()">Click Here!</button> <br> <br>
<button class="btn btn-dark" (click)="display('Sohaib')">Introduction!</button> <br> <br>
<button class="btn btn-danger" (click)="warner()">Caution!</button> <br> <br>
<label for="event_use">Using Input Boxes</label> <br>
<!-- keyup, keydown, blur, input -->
<input type="text" #box (keyup)="get_input_data(box.value)" placeholder="Event Keyup"> <br> <br>

<button class="btn btn-success" #mouse1 (mouseover)="get_input_data('Jerry In')">Check in the cursor here!</button> <br>
<br>
<button class="btn btn-success" #mouse2 (mouseover)="get_input_data('Jerry Out')">Check out cursor here!</button>

<!-- Get text box value and get value on button click -->

<br>
<label for="event_learn"><b>Text Box: Blur</b></label> <br>
<input type="text" name="name" #name1 placeholder="Enter Your name here..." (blur)="display(name1.value)">
<br>
<br>
<label for="event_learn"><b>Text Box</b></label> <br>
<input type="text" name="name" #name1 placeholder="Enter Your name here..."> <br>
<button class="btn btn-info" (click)="display_text(name1.value)"> Result of Above Input </button> <br>
<p>
  {{display_result}}
</p>
<hr>
<button class="btn btn-danger" #bt1 (click)="counter('')">--</button>
<p>Count: {{count}}</p>
<button class="btn btn-danger" #bt2 (click)="counter('add')">++</button>
<h2>Property binding</h2>
<input type="text" name="user-name" value={{name}} disabled={{disable}}> <br> <br>

<!-- Now Using ng-if to hide/show an element(DOM)  -->
<!-- ngif show == 'yes' then ifBlock else elseBlock -->

<h2>NG-IF</h2>
<input #tog type="text" *ngIf="toDisplay" placeholder="Enter your info"> <button class="btn btn-light btn-outline-dark"
  *ngIf="toDisplay">Send</button>
<button class="btn btn-danger" (click)="unchanged()">Toggle</button>

<!-- <h3>Multiple Condition</h3>

<ng-template [ngIf]="color==='red'">
  <h2 style="color:red ;" >Red Color</h2>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h2 style="color:green ;" >Green Color</h2>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h2 style="color:blue ;" >Blue Color</h2>
</ng-template> -->
<hr><br>
<h2>Switch Case</h2>
<div [ngSwitch]="color">
  <h1 style="color: blue;" *ngSwitchCase="'blue'">Blue Color</h1>
  <h1 style="color: red;" *ngSwitchCase="'red'">Red Color</h1>
  <h1 style="color: yellow;" *ngSwitchCase="'yellow'">Yellow Color</h1>
  <h1 style="color: black;" *ngSwitchDefault>Unknown Color</h1>
</div>
<hr><br>
<h2>For Loop and Array</h2>

<h3 *ngFor="let item of users">{{item}}</h3>
<!-- <h4 *ngFor="let item of userDetail" >Name: {{item.name}} || Email: {{item.email}} || Phone: {{item.phone}}</h4>
<hr><br> -->

<h2>Nested For Loop and Array</h2>
<ul *ngFor="let person of persons">
  <li>Name: {{person.nam}}</li>
  <li>Email: {{person.email}}</li>

  <ul *ngFor="let acc of person.socialAccounts">
    <li>{{acc}}</li>
  </ul>
</ul>

<h2>** Style Binding **</h2>
<h3 [style.color]="color" [style.backgroundColor]="bgColor" [style.width]="'180px'"> Hello World! </h3>
<button class="btn btn-dark" (click)="updateColor()">Update Color</button>
<br>