/* You can add global styles to this file, and also import other style files */
.italic{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0D47A1;
}
.Head{
    color: red;
  }
  .intro{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .time{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .center{
    display:grid;
    justify-content: center;
  }
 .task{
   border-radius: 8px;
   margin-bottom: 5px;
   margin-left: 2px;
 }
 #addtask{
  margin-left: 5px;
 }
ul{
  list-style-type: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
